// variables for fonts-revision
$font-main: 'Roboto', sans-serif;
$font-sec: 'Montserrat', sans-serif;

// variables for colors
$color0: #000000;
$color1: #ffffff;
$color2: #2f3886;
$color3: #ececec;



// colors for stack.scss
$colorJquery: #0766A8;
$colorSass: #C76395;
$colorHtml: #DD4B25;
$colorCss: #32A9D8;
$colorGit: #E84E31;
$colorJs: #E8D44D;
//colors for contact.scss
$colorHabr: #6274BC;
$colorTg: #0088cc;
$colorViber: #8f5db7;
$colorWhatsapp: #25d366;

