html, body, header, main, footer, div, img, nav, ul, ol, li, p, a, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  border: none;
  outline: none;
}
ul{
  list-style: none;
}