.contact__section {
  // background: $color3;
  border-top: 2px $color3 solid;
}
.contact {
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  @media (max-width:700px){
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  svg{
    width: 50px;
    height: 50px;
    transition: all 0.3s ease 0s;
    margin: 0px 5px 0px 0px;
  }
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color0;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    @media (max-width:700px){
      margin: 0px 0px 10px 0px;
    }
  }
  
  a:hover{
    color: $color2;
  }
  a.contact-tg:hover {
    svg{
      fill: $colorTg;
    }
  }
  a.contact-viber:hover {
    svg{
      fill: $colorViber;
    }
  }
  a.contact-whatsapp:hover {
    svg{
      fill: $colorWhatsapp;
    }
  }
  a.contact-habr:hover {
    svg{
      fill: $colorHabr;
    }
  }
}
