.stack__section {
  padding: 80px 0px 0px 0px;
  .stack {
    .stack__title{
      text-align: center;
      margin: 0px 0px 20px 0px;
    }
    .stack__list {
      margin: 0px 0px 40px 0px;
      // display: flex;
      // flex-direction: row;
      // justify-content: space-between;
      // flex-wrap: wrap;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 15px;
      @media (max-width:700px){
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }
      .stack__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        img.stack-img {
          margin: 0 auto;
          width: 200px;
          height: 200px;
        }
        svg{
          width: 200px;
          height: 200px;
          transition: all 0.3s ease 0s;
          cursor: pointer;
        }
        svg.stack-svg_1:hover{
          fill: $colorHtml;
        }
        svg.stack-svg_2:hover{
          fill: $colorCss;
        }
        svg.stack-svg_3:hover{
          fill: $colorJs;
        }
        svg.stack-svg_4:hover{
          fill: $colorGit;
        }
        svg.stack-svg_5:hover{
          fill: $colorSass;
        }
        svg.stack-svg_6:hover{
          fill: $colorJquery;
        }
        .block__title {
          text-align: center;
        }
      }
    }
  }
}

