.about__section {
  .about {
    .about__title {
      text-align: center;
    }
    .about__text {
      text-indent: 10px;
      margin: 0px 0px 4px 0px;
      font-weight: 400;
    }
    span{
      font-weight: 400;
    }
  }
}

