.portfolio__section {
  .portfolio {
    .portfolio__title {
      text-align: center;
    }

    ul.portfolio__list {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr;

      @media (max-width:800px) {
        grid-template-columns: 1fr 1fr;
      }

      @media (max-width:550px) {
        grid-template-columns: 1fr;
      }

      .portfolio__item {
        
        img {
          width: 200px;
          max-height: 200px;
        }

        .portfolio__item-title {
          
        }

        .portfolio__description {

          span {
          }
        }

        a {
          color: rgb(49, 105, 158);
        }
      }
    }
  }
}